<div class="lg:sl-flex">
	{
		Astro.locals.starlightRoute.toc && (
			<aside class="right-sidebar-container print:hidden">
				<div class="right-sidebar">
					<slot name="right-sidebar" />
				</div>
			</aside>
		)
	}
	<div class="main-pane"><slot /></div>
</div>

<style>
	.main-pane {
		isolation: isolate;
	}

	@media (min-width: 72rem) {
		.right-sidebar-container {
			order: 2;
			position: relative;
			width: 15%; /* Right sidebar takes 15% of screen width */
		}

		.right-sidebar {
			position: fixed;
			top: 0;
			border-inline-start: 1px solid var(--sl-color-hairline);
			padding-top: var(--sl-nav-height);
			width: 100%;
			height: 100vh;
			overflow-y: auto;
			scrollbar-width: none;
		}

		.main-pane {
			width: 75%; /* Main content takes 60% of screen width */
		}

		:global([data-has-sidebar][data-has-toc]) .main-pane {
			order: 1;
		}
	}
</style> 